.pdfs {
  margin-top: 0rem;

  a {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      margin-right: 0.3em;
    }
  }
}

.contact {
  margin-top: 2rem;
  margin-bottom: 0.15em;
}