.swiper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  .image {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    cursor: pointer;

    @include mq($until: tablet) {
      &.left {
        object-position: left;
      }
    }
  }
}

.next,
.prev {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;

  color: var(--white);
  cursor: pointer;
  transition: opcity 0.3s ease;

  @include mq($until: tablet) {
    opacity: 1;
  }


  &:hover {
    opacity: 1;
  }

  button {
    appearance: none !important;
    outline: none;
    border: 0;
    font-size: 2rem;
    box-shadow: none;
    color: var(--gray);
    background-color: transparent !important;
  }


}

.next {
  right: var(--outer-margin);
}

.prev {
  left: var(--outer-margin);

}